table, tr, td, th {
    border: 1px solid rgb(34, 15, 211) ;
    border-collapse: collapse;
    padding: inherit;
    font-size: medium;
    row-gap: 56;
    
 } 

body {
    background-color: rgb(26, 209, 209);
}
h1 {
    color: brown;
}
tr:nth-child(even){
    background-color: blueviolet;
}
tr:hover{
    background-color: brown;
}
button{background-color: darkgreen;}

.city {
    background-color: rgba(121, 121, 144, 0.822);
}


#id {color: darkgoldenrod;}
#my-special-paragraph {
    background-color: rgb(26, 11, 232);
}


